{% extends 'base.html' %}
{% load static %}
{% block title %}| About{% endblock %}
{% block content %}
<div class="page-header page-header-small" style="background-image: url('https://cdn.dribbble.com/users/88246/screenshots/1417936/rvs.gif');">
    <div class="filter filter-danger"></div>
    <div class="content-center">
      <div class="container">
        <h1>
          We Host RV Hospitality</h1>
        <h3>Let us tell you more about what we do.</h3>
      </div>
    </div>
  </div>
  <br>
<div class="main">
    <div class="section">
      <div class="container">
        <h3 class="title-uppercase">We build memories.</h3>
          <p>Hidden Oaks is a small RV park located nestled in the trees on the outskirts of Rockport, Texas. We offer 50 full hookups, a new clubhouse, shower/restroom facilities with laundry mat. Our services include cable tv, individual meters (30 and 50 amp service), a cement drive as well as onsite RV/Boat and miscellaneous storage facilities.

Located near the bays, restaurants and other area attractions in Rockport, we have a manager on site. Our park is safe and secure with no thru traffic. With our location on the outskirts of Rockport, we are a tree lovers paradize with 36 acres of hiking, a nature trail and dog walk area. You will find our rates are very competitive with daily, weekly, monthly or yearly rentals offered. CPL rates are available for annual hookups.

Feel free to call or email and let us know how we can assist you! Come home to Buffalo Park. You'll be glad you stayed!</p>
        <h3 class="title-uppercase">We <i class="fa fa-heart heart"></i>&nbsp; what we do.</h3>
        <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
        <h2 class="text-center creators">Team Members</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-body">
                <div class="card-avatar">
                  <a href="#avatar">
                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                    <h4 class="card-title">Eric Thomson</h4>
                  </a>
                </div>
                <p class="card-description text-center">
                  A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes orchestra to play it.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-body">
                <div class="card-avatar">
                  <a href="#avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="...">
                    <h4 class="card-title">Sophia West</h4>
                  </a>
                </div>
                <p class="card-description text-center">
                  The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-body">
                <div class="card-avatar">
                  <a href="#avatar">
                    <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
                    <h4 class="card-title">Lucas Andrew</h4>
                  </a>
                </div>
                <p class="card-description text-center">
                  Great teams do not hold back with one another. They are unafraid to air their dirty laundry. They admit their mistakes, their weaknesses and their concerns without fear of reprisal.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-just-icon btn-youtube"><i class="fa fa-youtube"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}